##включаем модуль реврайт - обрабатывет все запросы при условии что не будет таких папок
RewriteEngine On
##условие что все папки не будут обрабатываться регулярным выраженим
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
##условие что при любом запросе будет открываться index.php и добавлять ему нашу строку запроса
RewriteRule ^(.*)$ index.php/$1 [L]
